# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv*/
venv/
env/

# Environment / secrets
.env

# Datasets and large data dumps
data/raw/
data/processed/
*.csv
*.pcap
*.pcapng
*.parquet
*.binetflow

# PyTorch models & binary checkpoints
models/*.pt

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/
data/raw/
