# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv*/
venv/
env/

# Environment / secrets
.env

# Datasets and large data dumps
data/raw/
data/processed/*
!data/processed/feature_matrix.parquet
*.csv
!data/mock/canonical_feature_matrix.csv
*.pcap
*.pcapng
*.parquet
!data/processed/feature_matrix.parquet
*.binetflow

# PyTorch models & binary checkpoints
models/*.pt

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/*
!.vscode/launch.json
.idea/

# Keeping required project directories in git
!data/
!data/raw/
!data/raw/.gitkeep
!data/intermediate/
!data/intermediate/.gitkeep
!data/processed/
!data/processed/.gitkeep
!artifacts
!artifacts/.gitkeep

# Local packet dumps
pcap/
